html, body {
	padding: 10px; 
	padding-right: 30px;
	width : 700px;
	height : 500px;
	font-weight: bold;
}
a, a:active, a:link, a:hover, a:visited {
	color: black;
}
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
	background-color: #4C9F70;
}
body .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #4C9F70;
}


.nav-tabs, .nav-pills {
	border-bottom: dashed #4C9F70 2px;
	padding-bottom: 10px;
}
body .container .tab-content label {
	font-weight: bold;
}