<ul class="nav nav-pills" role="tablist">
	<li role="presentation" class="active">
		<a class="tabs" href="#account" aria-controls="account" role="tab" data-toggle="tab">
			Account <span class="glyphicon glyphicon-user"></span>
		</a>
	</li>
	<li role="presentation">
		<a class="tabs" href="#addAnime" aria-controls="addAnime" role="tab" data-toggle="tab">
			Add Anime <span class="glyphicon glyphicon-plus-sign"></span>
		</a>
	</li>
	<li role="presentation">
		<a class="tabs" href="#animeList" aria-controls="animeList" role="tab" data-toggle="tab">
			Anime List <span class="glyphicon glyphicon-list"></span>
		</a>
	</li>
	<li role="presentation">
		<a class="tabs" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
			Settings <span class="glyphicon glyphicon-cog"></span>
		</a>
	</li>
</ul>